# Ignore deploy/secrets, except ones suffixed with "example".
# In the future, these should be templates of some sort....
deploy/secrets/**
!deploy/secrets/**/*.example

deploy/configs/minio-small.yaml
deploy/configs/minio-tiny.yaml
