apiVersion: v1
kind: Secret
metadata:
  name: 'concourse-ci'
  labels:
    app: 'concourse-ci'
type: Opaque
data:
  postgresql-user: "Y29uY291cnNl"
  postgresql-uri: |-
    cG9zdGdyZXM6Ly9jb25jb3Vyc2U6Y29uY291cnNlQHBvc3RncmVzL2NvbmNvdXJzZT9zc2xtb2Rl
    PWRpc2FibGU=
  basic-auth-username: "Y29uY291cnNl"
  basic-auth-password: "Y29uY291cnNl"
  host-key: {{ .Values.concourse.hostKey | b64enc | quote }}
  host-key-pub: {{ .Values.concourse.hostKeyPub | b64enc | quote }}
  session-signing-key: {{ .Values.concourse.sessionSigningKey | b64enc | quote }}
  worker-key: {{ .Values.concourse.workerKey | b64enc | quote }}
  worker-key-pub: {{ .Values.concourse.workerKeyPub | b64enc | quote }}
  github-auth-client-id: ''
  github-auth-client-secret: ''
  gitlab-auth-client-id: ''
  gitlab-auth-client-secret: ''
  generic-oauth-client-id: ''
  generic-oauth-client-secret: ''
  encryption-key: ''
  old-encryption-key: ''
