apiVersion: v1
kind: Secret
metadata:
  name: minio-small-user
  labels:
    app: minio-small
type: Opaque
data:
  accesskey: {{ .Values.accessKey | b64enc }}
  secretkey: {{ .Values.secretKey | b64enc }}
